@import url('https://fonts.googleapis.com/css?family=Roboto');


$brand-purple: rgb(135,140,223);
$brand-green: rgb(153,251,198);
$font-size: 5rem;
$font: "Roboto", sans-serif;

body {
  height: 80vh;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  font-size: $font-size;
  font-weight: 900;
  font-family: $font;
  padding: 0;
  margin: 0;
}


.astronomy-card {
	max-width: 80vw;
	margin: 50px auto;
	display: flex;
	background-color: #FFF;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.2);

  .astronomy-heading {
		margin: 10px 0;
		padding: 0px 45px;
		font-size: 20px;
		color: #000;
    text-align: center;
	}

	.astronomy-title {
		margin: 10px 0;
		padding: 0px 45px;
		font-size: 18px;
		color: #000;
    text-align: center;
	}

	.astronomy-image-wrapper {
		padding: 10px;

		img {
			cursor: pointer;
			max-height: 400px;
      max-width: 100%;
			filter: drop-shadow(6px 6px 12px rgba(0,0,0,0.45));
			transition: all 325ms ease-in-out;
			&:hover {
				transition: all 325ms ease-in-out;
				transform: scale(1.05);
			}
		}
	}

	p {
		font-size: 15px;
		padding: 10px 50px;
		line-height: 2;
	}

	span {
		font-size: 12px;
		color: #000;
		margin: 10px 0;
    text-transform: capitalize;
	}
}
